<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55%;
    align-items: center;
    text-align: center;
     
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  
  <button (click)="convertTableToPDF()" class="btn btn-primary" style="padding: 50;">Convert to Pdf</button>


<div>
  
    <h2>Flight info</h2>  
    
    <table id="tableData">
      <tr>
        <th colspan="2">Fight details</th>
        <th colspan="5">P1</th>
      </tr>
      <tr>
        <th>Flight</th>
        <th>From</th>
         <th>To</th>
         <th>Date</th>
         <th>Departs</th>
         <th>Arrives</th>
         <th>Class</th>
      </tr>
      <tr>
        <td>TK608</td>
        <td>Nairobi - NBO</td>
        <td>Istanbul - IST</td>
        <td>19 May 2018(Sat</td>
        <td>04:45</td>
        <td>11:15</td>
        <td>B - Economy</td>
      </tr>
      <tr>
          <td>TK608</td>
          <td>Nairobi - NBO</td>
          <td>Istanbul - IST</td>
          <td>19 May 2018(Sat</td>
          <td>04:45</td>
          <td>11:15</td>
          <td>B - Economy</td>
        </tr>
        <tr>
            <td>TK608</td>
            <td>Nairobi - NBO</td>
            <td>Istanbul - IST</td>
            <td>19 May 2018(Sat</td>
            <td>04:45</td>
            <td>11:15</td>
            <td>B - Economy</td>
          </tr>
      <tr>
        <th colspan="2">Fee Details</th>
        <th colspan="5"></th>
      </tr>
    </table>
    
</div>
<div style="border: 2px solid black; width: 50%;">
<signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
</div>
<button (click)="refresh()">Refresh</button>
<router-outlet></router-outlet>
